@tailwind base;
@tailwind components;
@tailwind utilities;

.link-trans:after {
    display:block;
    content: '';
    border: solid 1px rgb(242, 166, 116);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    border-radius: 999px;
  }
.link-trans:hover:after { transform: scaleX(1); }